.BuildControls {
  width: 75%;
  background-color: #cf8f2e;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  border-radius: 20px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.TotalPrice {
  font-size: 1.1rem;
  border-bottom: 5px solid #000;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  border-radius: 20px;
}
