.BuildControls {
  width: 65%;
  background-color: #cf8f2e;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  border-radius: 20px;
}

.TotalPrice {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 5px solid darkgreen;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 20px;
}
