.Burger {
  width: 400px;
  margin: auto;
  height: 350px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: auto;
}

@media (max-width: 500px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}
